body {
    background-color: black;
    color: blueviolet;
    text-align: center;
}

.Exercicio {
    color: white;

    padding: 10px;
    margin-top: 30px;
}

.Exercicio h2  {
    color: rgb(84, 0, 163);
}

.Exercicio h3 {
    color: rgb(198, 137, 255);
}

#resposta {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta1 {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta2 {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta3 {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta4 {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta5 {
    text-decoration: underline rgb(84, 0, 163);
}

#resposta6 {
    text-decoration: underline rgb(84, 0, 163);
    margin-bottom: 20px;
}
